@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}



<main id="main" class="main">

    <div class="pagetitle" style="width:fit-content">

        
    </div><!-- End Page Title -->

    <section class="section">



        <div class="card" style="width:100%;align-content:center">
            <div class="card-body" style="align-self:center;align-items:center;width:90%;align-content:center">
                <h5 class="card-title"> </h5>


                <header style="margin-left:5cm">
                    <h1 class="text-danger">@ViewData["Title"]</h1>
                    <p class="text-danger">You do not have access to this resource.</p>
                </header>

                  
             </div>
        </div>







    </section>

</main><!-- End #main -->
