<div style=" margin-top:47%"></div>





@*<script>
    let toggle-sidebar-btn=document.querySelector(".menu")
let  box=document.querySelector("body")

menu_icon_box.onclick=function(){
    menu_icon_box.classList.toggle("active");
    box.classList.toggle("active");

}

document.onclick=function(e){
    if(!toggle-sidebar-btn.contains(e.target)&&  !box.contains(e.target){
            toggle-sidebar-btn.classList.remove("active");
        box.classList.remove("active");
    }
}


</script>*@
@*<div id="sidebar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebar-nav" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>

        </div>
    </nav>
</div>*@